/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: visible;
	font: 2.5vmin 'Open Sans', sans-serif;
	
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99999999;
} 

.sf-menu > li {
	float: left;
	
}

.sf-menu > li:hover {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.sf-menu > li:first-child {
	border-left: 0px;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
	margin-left: 12px;

}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}

/*** DEMO SKIN ***/
.sf-menu {
	z-index: 9999999999;
	display: inline-block;
	vertical-align: top;
	margin-top: -4px;
}

.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}

.sf-menu ul ul {
	margin-top: 0px !important;}

.sf-menu li a {
	color: #d6d6d6;
	font: 16px 'Open Sans', sans-serif;
	padding: 11px 3px 11px 12px;
	text-decoration: none;
	zoom: 1;
	margin-right: 5px;
	
}

.sf-menu li li a {
	font-size: 13px;
	border-top: 1px solid #353535;
	text-transform: capitalize;
}

.sf-menu li li{
	margin-right: 0px !important;
	border-left: 1px solid #353535;
	border-right: 1px solid #353535;
	min-width: 190px;
	/*border-right: 1px solid #ccc;*/
}

.sf-menu li li a{
	color: #fff !important;
	margin-right: 0px;
	font-size: 14px !important;
	padding: 11px 15px;
}

.sf-menu li li a:hover{
	color: #101832 !important;
}

.sf-menu li {
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}

.sf-menu ul li {
	background: rgba(0,0,0,.9);
	/*border-top: 1px solid #526908;
	border-bottom: 1px solid #94b52a;*/
}

.sf-menu ul li:hover {
	background: rgba(214,214,214,.9);
}

.sf-menu ul li a:hover {
	color: #101832;
}

.sf-menu li:hover,
.sf-menu li.sfHover {

	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
	color: #fff;
}

.sf-menu li:hover a,
.sf-menu li.sfHover {
	color: #e47e36;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 15px;
	padding-left: 12px;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	margin-left: 5px;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #d6d6d6; /* edit this to suit design (no rgba in IE8) */
	
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #fff; /* IE8 fallback colour */
}


/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	
	border-color: transparent;
	margin-left: 40px;
	margin-top: -5px;
	border-left-color: #d6d6d6; /* edit this to suit design (no rgba in IE8) */
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: #fff;
}
